@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground w-screen;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  .routes-container > div {
    @apply flex flex-col flex-grow h-full overflow-y-scroll bg-slate-100 m-0  lg:mb-5 rounded-none lg:rounded-2xl overflow-hidden;
  }

  .navbar {
    @apply pb-5
  }
}


@layer components {
  .card {
    @apply bg-white rounded-none md:rounded-2xl p-4 w-full md:w-2/3 m-3 md:m-2 lg:w-3/5 xl:w-2/5 shadow-md;
  }
  .card .form-header {
    @apply flex justify-center flex-col items-center;
  }
  .card .form-header .form-title {
    @apply text-3xl font-semibold p-2 uppercase text-gray-800;
  }
  .card .form-header .form-desc {
    @apply text-gray-400 p-2;
  }
  .alert {
    @apply w-full flex justify-center;
  }
  .form-control {
    @apply w-full flex flex-col justify-start p-2 items-start relative;
  }
  .alert-success {
    @apply bg-green-200 rounded-2xl w-1/2 md:w-2/3 p-2 text-center my-2 text-gray-800 font-bold;
  }
  .alert-error {
    @apply bg-red-200 rounded-2xl w-1/2 md:w-2/3 p-2 text-center my-2 text-red-800 font-bold;
  }

}
