/* animations.css */
@keyframes extendDownSubtle {
    from {
        max-height: 0;
        opacity: 0;
    }
    to {
        max-height: 100px; /* Adjust this value based on your row's height */
        opacity: 1;
    }
}

.subject-row {
    animation: extendDownSubtle 0.5s ease-out forwards;
}

@keyframes dropdown {
    from {
        max-height: 0;
    }
    to {
        max-height: 1000px; /* Adjust this value based on your row's height */
    }
}

.dropdown-anim {
    animation: extendDownSubtle 0.5s ease-out forwards;
}
